* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    overflow: hidden;
    min-width: 1140px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../../../new-air-asia/img/auth/background-auth.jpg) center center / cover no-repeat;
    justify-content: center;
    align-items: center;
}

.wrapper__content {
    flex: 1;
    background: url(../../../new-air-asia/img/about/background.jpg) center top / cover no-repeat;
    /*../../../new-air-asia*/
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    color: #fff;
    margin: 0 0 77px;
    padding: 35px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer {
    color: #fff;
    background: #001821;
    padding-bottom: 48px;
}

.footer__comment {
    padding-top: 40px;
}

/*Line*/

hr {
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.1;
}

/*вторая страница-comment*/

.content-white {
    background: white;
}

.header__comment {
    min-height: 412px;
    padding: 26px 0 23px;
    margin-bottom: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../../../new-air-asia/img/comment/headline.jpg) center center / cover no-repeat;
}