/*Пагинация*/
.pagination {
    margin-bottom: 152px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
}

.pagination__pages-link {
    padding: 6px 12px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: inherit;
}

.pagination__display {
    padding-right: 25px;
}

.pagination__pages-item,
.pagination__pages-link,
.pagination__display,
.pagination__controlls {
    display: inline-block;
    vertical-align: middle;
}

.pagination__pages-item:hover {
    color: #F5170E;
    background: url(./new-air-asia/icon/ellipse.png) center center no-repeat;
}
