/*Первый блок*/

.about-tours {
    color: #FFFFFF;
    width: 511px;
    height: 197px;
    margin-bottom: 382px;
}

.about-tours__name {
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 27.5px;
}

.about-tours__text {
    margin-bottom: 33.5px;
    font-size: 18px;
    line-height: 20px;
}