.breadcrumbs {
    font-size: 14px;
    line-height: 16px;
    margin: auto;
    flex: 1;
}

.breadcrumbs__item,
.breadcrumbs__link {
    display: inline-block;
    vertical-align: middle;
   
}

.breadcrumbs__link {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.active-link {
    color: #F5170E;
}

.breadcrumbs__item {
    margin-right: 54px;
}

ul .breadcrumbs__item:last-child {
    margin-right: 0;
}

.breadcrumbs__item:hover {
    color: #F5170E;
    transition: .3s;
}

/*breadcrumbs__comment*/

.breadcrumbs__comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
}

.breadcrumbs__comment-link {
    color: inherit;
    text-decoration-line: underline;
}

.breadcrumbs__comment-item,
.breadcrumbs__comment-link {
    display: inline-block;
    vertical-align: middle;
}

li+li .breadcrumbs__comment-link::before {
    content: "/";
}