.dropdown {
    position: relative; 
}

.dropdown__menu {
    position: absolute;
    z-index: 10;
    margin-top: 11px;
    min-width: 160px;
    background: #CDD1D2;
    padding: 15px 19px;
    border-radius: 5px;
    opacity: 0.8;
    right: -9999px;
    transition: opacity .4s;
}

.dropdown__menu:before,
.dropdown__menu:after {
  content: "";
  display: block;
  position: absolute;
}

.dropdown__menu:before {
    top: -11px;
    right: 30px;
    border: 11px solid transparent;
    width: 0;
    height: 0;
    border-bottom-color: #CDD1D2;
    border-top-width: 0px;
}

.dropdown__menu:after {
  left: 0;
  right: 0;
  height: 15px;
  top: -14px;
}

.dropdown:hover .dropdown__menu {
    right: 0;
    opacity: 1;
}

.dropdown__link {
    color: #98A4A8;
    text-decoration-line: underline;
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
}

.dropdown__link:hover {
    transition: .3s;
    color: #fff;
}

.dropdown__item {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    color: #1E1F20;
}

.dropdown__item:last-child {
    font-weight: 600;
}