/*Section hot-tour*/

.hot-tour {
    margin-bottom: 128px;
}

.hot-tour__title {
    margin-bottom: 51px;
}

.hot-tour__country {
    display: flex;
    justify-content: space-between;
}

.hot-tour__item {
    background: #fff;
    border-radius: 6px;
    width: 32%;
    overflow: hidden;
}

.hot-tour__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hot-tour__desc {
    padding: 33px 16px 25px 25px;
}

.hot-tour__country-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 22px;
}

.hot-tour__text {
    padding-left: 44px;
    padding-right: 28px;
    background: url(../../../new-air-asia/icon/about/calendar.png) left center no-repeat;
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
    min-height: 26px;
}

.text_meal {
    background: url(../../../new-air-asia/icon/about/meal.png) left center no-repeat;
}

.hot-tour__paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 25px;
}
