/*messenger*/

.messenger {
    margin-right: 70px;
}

.messenger__item {
    display: block;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.messenger__item,
.messenger__icon {
    display: inline-block;
    vertical-align: middle;
}

.messenger__item:hover {
    filter: invert(75%);
    transition: .3s;
}


