/*messenger*/

.messenger {
    margin-right: 70px;
}

.messenger__icon {
    width: 36px;
    height: 36px;
}

.messenger__item,
.messenger__icon {
    display: inline-block;
    vertical-align: middle;
}

.telegram {
    background: url(../../../new-air-asia/icon/telegram.png) center no-repeat;
}

.vk {
    background: url(../../../new-air-asia/icon/vk.png) center no-repeat;
}

.facebook {
    background: url(../../../new-air-asia/icon/facebook.png) center no-repeat;
}

.instagram {
    background: url(../../../new-air-asia/icon/instagram.png) center no-repeat;
}