.news {
    margin-bottom: 53px;
}

.news__title {
    margin-bottom: 51px;
}

.news__preview {
    display: flex;
    justify-content: space-between  ;
    color: #fff;
}

.news__item {
    position: relative;
}

.news__preview-image {
    width: 557px;
    height: 394px;
    border-radius: 5px;
}

.news__preview-image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__date {
    position: absolute;
    top: 252px;
    left: 30px;
    font-size: 14px;
    line-height: 21px;
}

.news__voucher {
    position: absolute;
    top: 286px;
    left: 31px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.news__text {
    position: absolute;
    top: 322px;
    left: 32px;
    font-size: 16px;
    line-height: 21px;
}

.news__text-surfer {
    font-size: 16px;
    line-height: 24px;
}