/*Пагинация*/
.pagination {
    margin-bottom: 144px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
}

.pagination__pages-link {
    padding: 6px 14px;
    text-decoration: none;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: inherit;
}

.pagination__display {
    padding-left: 30px;
    padding-right: 40px;
}

.pagination__pages-item,
.pagination__pages-link,
.pagination__display,
.pagination__controlls {
    display: inline-block;
    vertical-align: middle;
}

.pagination__pages-item:hover {
    color: #F5170E;
    background: url(../../../new-air-asia/icon/about/ellipse.png) center center no-repeat;
    transition: .3s;
}

/*pagination-comment*/
.pagination-comment {
    color: black;
}

.pagination__pages-item-comment:hover {
    background: url(../../../new-air-asia/icon/comment/ellipse-red.png) center center no-repeat;
    color: white;
    transition: .3s;
}