.pagination {
    text-align: center;
    color: #fff;
}

.pagination__pages-item,
.pagination__pages-link,
.pagination__display,
.pagination__controlls {
    display: inline-block;
    vertical-align: middle;
}

.pagination__pages-item.active .pagination__pages-link {
    color: #F5170E;
    background: #fff;
}

.pagination__display {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-right: 9px;
}

.pagination__pages-link {
    color: inherit;
    display: block;
    text-decoration: none;
    font-weight: 700;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    transition: .3s;
}

.pagination__pages-link:hover {
    color: #F5170E;
    background: #fff;
}

.pagination_comment {
    color: black;
    margin: 0;
}

.pagination__pages-link_red:hover {
    color: white;
    background: #F5170E;
    transition: .3s;
}

.pagination__pages-item_red.active .pagination__pages-link {
    color: #fff;
    background: #F5170E;
}