.partners {
    display: flex;
    background: #F4F5F5;
}

.partners__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.partners__link {
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: none;
}
