.partners {
    display: flex;
    background: #F4F5F5;
    padding: 88px 0 117px;
}

.partners__title {
    margin-bottom: 99px;
}

.partners__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.partners__row:last-child {
    margin-bottom: 0;
}

.partners__link {
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: none;
    transition: .3s;
}
