.service__item {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}

.service__image {
    margin-right: 56px;
}

.service__image-pic {
    max-width: 460px;
}

.service__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 34.5px;
    color: #303030;
}