.service__item {
    display: flex;
    margin-bottom: 49px;
}

.service__image {
    margin-right: 56px;
}

/*.service__image-pic {
    min-width: 460px;
    min-height: 333px;
    display: block;
    width: 100%;
    border-radius: 5px;
}*/

.service__paragraph {
    margin-bottom: 34.5px;
}