.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
}

.title_flame {
    background: url(../../../new-air-asia/icon/about/flame.png) left 288px center no-repeat;
}

.title_black {
    color: #000000;
}