/*will-select*/

.will-select {
    background: url(/img/comment/rectangle.png) center/cover no-repeat;
}

.will-select__container {
    display: flex;
    align-items: center;
    min-height: 363px;
    background: url(/img/comment/couple.png) bottom right no-repeat;
}

.will-select__background-pic {
    display: block;
    width: 100%;
}

.will-select__text {
    width: 594px;
    height: 130px;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
}